#testCanvas {
	position: absolute;
	z-index: 0;
    width: 100%;
    height: 600px;
    /*background-color: #87CEEB;*/
    background-color: #221821; 
}
#canvasOverlay{
	position: absolute;
	z-index: 1;
	height: 600px;
	width: 100%;
}
.canvasBtn{
	position: relative;
	z-index: 1;
}